{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Check if the container class ends up actually doing anything at end of project.-->
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-4 col-sm-12 col-md-6 my-auto img-container"><img src="media/space-wolf-hero.jpg"
                    class="contained_img rounded" alt="Image of space wolf hero mid battle"></div>
            <div class="col-lg-4 col-md-6 d-none d-md-block my-auto img-container"><img src="media/chaos-hero.jpg"
                    class="contained_img rounded d-none d-md-block" alt="Image of space wolf hero mid battle"></div>
            <div class="col-lg-4 d-lg-block d-none my-auto img-container"><img src="media/wolf-hero.jpg"
                    class="contained_img rounded d-lg-block d-none" alt="Image of space wolf hero mid battle"></div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="my-2">
                    <a href="" class="btn btn-lg btn-danger rounded-4">Buy Painted Miniatures Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}