@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Open+Sans&display=swap');

/*------------------------------------------------------Site-wide*/

html {
    height: 100%;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.logo-font {
    font-family: 'Mate SC', serif !important;
    color: black !important;
    font-size: larger;
}

.text-black {
    color: #000 !important;
}

.nav-item a {
    color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: darkred;
}

.btn-danger {
    background-color: darkred;
    border-color: darkred;
}



/*------------------------------------------------------Homepage*/

/* Next two classes come from here (with some customisation) https://stackoverflow.com/questions/1891857/how-do-you-stretch-an-image-to-fill-a-div-while-keeping-the-images-aspect-rat */

.img-container {
    height: 400px;
    width: 33.3333%;
}

.contained-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-container-ex {
    height: auto;
}

.disclaimer {
    border: #000 1px solid;
    background-color: rgba(194, 65, 42, 0.3);
}

/*------------------------------------------------------Media Queries*/

@media (max-width: 576px) {
    .img-container {
        height: 400px;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .img-container {
        height: 400px;
        width: 50%;
    }
    .rounded-4 {
        border-radius: 10% !important;
    }
}

@media (min-width: 992px) {
    .img-container {
        height: 400px;
        width: 33.33333%;
    }
    body {
        font-size: larger;
    }
    .rounded-4 {
        border-radius: 20% !important;
    }
}