<div class="collapse" id="mobileNavCollapse">
    <div class="card card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center"><a class="nav-link text-black" href="{% url 'home' %}">Home</a></li>
            <li class="list-group-item text-center"><a class="nav-link text-black" href="{% url 'services' %}">Services</a></li>
            <li class="list-group-item text-center"><a class="nav-link text-black" href="#">Gallery</a></li>
            <li class="list-group-item text-center"><a class="nav-link text-black" href="#">Blog</a></li>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <li class="list-group-item text-center"><a class="nav-link text-black" href="#">Service Management</a></li>
                {% endif %}
                <li class="list-group-item text-center"><a class="nav-link text-black" href="#">My Profile</a></li>
                <li class="list-group-item text-center"><a class="nav-link text-black" href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
            <li class="list-group-item text-center"><a class="nav-link text-black" href="{% url 'account_signup' %}">Sign-up</a></li>
            <li class="list-group-item text-center"><a class="nav-link text-black" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>