{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col text-center border-bottom">
                <h1 class="logo-font nav-link">Kits We Stock:</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    {{ products }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}