{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-3 border-bottom">
            <div class="col-3"></div>
            <div class="col-6 text-center ">
                <h1 class="logo-font nav-link">Kits We Stock:</h1>
            </div>
            <div class="col-3">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'products' %}?category=start_collecting">Start Collecting</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=combat_patrol">Combat Patrol</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                <div class="card my-2">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" class="card-img-top rounded" alt="image of warhammer kit">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="/media/no-image.jpg" class="card-img-top" alt="image not available">
                                        </a>
                                    {% endif %}
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Base price: £{{ product.base_price }}</h6>
                                        <a href="{% url 'product_detail' product.id %}" class="card-link text-center">Customise</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
